<!DOCTYPE html>
<html>
<head>
    <title>Sign Up - Tech Blog</title>
</head>
<body>
    <h1>Create an Account</h1>

    <!-- Display success message -->
    {{#if query.success}}
    <p class="success-message">{{query.success}}</p>
    {{/if}}

    <!-- Display error message -->
    {{#if query.error}}
    <p class="error-message">{{query.error}}</p>
    {{/if}}

    <!-- Sign Up Form -->
    <form id="signup-form">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Sign Up</button>
    </form>

    <!-- Link to login page -->
    <p>Already have an account? <a href="/login">Log in here</a></p>

    <script src="/assets/js/app.js"></script> 
</body>
</html>
